body{    
    background-image:url(./pexels-willpicturethis-1954524.jpg) ;
    background-size: cover;
}
li{
    text-transform: capitalize;
    display: inline-block;
    /* text-align: right; */
    padding: 20px;
}
ul{
    text-align: right;
}
button{
    width: 50px;
    height: 50px;
}
a:hover{
    background-color: white;
}
FORM{
    background-color:whitesmoke;
    border: 5px solid rgb(28, 27, 27);
    width: 300px;
    height: 450px;
    margin: 0 auto;
    text-align: center;
    
}
input{
    margin: 10px;
    border: none;
    border-bottom: 1px solid rgb(255, 0, 115);
    background-color: transparent;
    text-transform: uppercase;
    
}
button{
    width: 100px;
 
}

img{
    width: 80px;
    position: absolute;
    top: 100px;
    left: 140px;
    
}
h2{
    text-align: center;
}
a{
    text-transform: uppercase;
    padding: 10px;
    color: brown;
    text-decoration: none;
}
.log{
    padding-top: 50px;
}
.logo{
    width: 130px;
    background-color: rgb(174, 154, 154);
}

    
